.wrap-detail-doctor {

    width: 100%;
    margin: 86px auto;


    .doctor_infor {

        height: 150px;
        display: flex;
        max-width: 1200px;
      
        margin: auto;

        .doctor_image {
            width: 15%; 
            height: 150px;
            
            .image {
                height: 150px;
                width: 150px;
                background-size: contain;
                background-repeat: no-repeat;
                border-radius: 50%;
                background-position: center;

            }
        }

        .doctor_name {
            width: 85%;
            height: 100%;
            padding: 10px;

            .doctor_name_title {
                font-size: 1.4rem;
                color: #333;
                font-weight: 600;
            }

            .doctor_name_more {}
        }
    }


    .doctor_discription {
        width: 100%;
        padding: 32px 16px 32px 120px;
        background: #f9f9f9;
        margin: 24px 0;
        border-top: 1px solid #ddd;
        border-bottom:1px solid #ddd ;
    }
}