.footer-container {
    margin: 10px 0;

    .footer-content {
        text-align: center;

        span {
            font-size: 1.2rem;
            color: #333;

            a {
                text-decoration: none;
            }
        }
    }
}