.doctor-body {
    padding: 24px;
    .content-first {
        display: flex;
        justify-content: space-around;

        width: 100%;
        margin-left: 16px;

        .content-left {
            width: 400px;
            height: 32px;
        }

        .content-right {
            flex: 1;
            text-align: center;

            .description {
                width: 94%;;
                border: 1px solid #ddd !important;
                border-radius: 10px;
                padding: 8px;
            }
        }
    }
    .content-second {
        margin:0 16px;
    }
    .wrap-markdown {
        padding: 16px;
    }

    .wrap-btn {
        width: 100%;
        text-align: center;
        padding: 0 16px 24px 0;

        .btn-save-doctor {
            width: 100px;
            height: 32px;
            border: none;
            border-radius: 10px;
            background-color: orange;

        }
        .btn-create-infor {
            width: 150px;
            height: 32px;
            border: none;
            color: white;
            border-radius: 10px;
            background-color:rgb(0, 98, 255);

        }
    }
}