.upload-image {
    display: flex;
    flex-direction: column;

    .lable-Input-img {
        border: 1px solid;
        height: 34px;
        width: 40%;
        text-align: center;
        /* margin: auto; */
        padding: 4px;
        background: #ddd;
    }

    .preview-image {
        width: 100%;
        height: 50px;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
    }
}